.registration__hint-password {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000;
  transform: translateX(25px);
}