@import url(./__image/recipe__image.css);
@import url(./__content/recipe__content.css);
@import url(./__title/recipe__title.css);
@import url(./__container/recipe__container.css);

.recipe {
  width: 364px;
  border-radius: 8px;
  border: 1px solid #eee;
  box-sizing: border-box;
}