@import url('./__section/root__section.css');
@import url('./__recipes/root__recipes.css');
@import url('./__pagination/root__pagination.css');
@import url('./__section/_padding/root__section_padding_bottom.css');

.root {
  margin: 0 auto;
  padding-top: 24px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}