.button.button_color_blue {
  background-color: #4A61DD;
<<<<<<< HEAD
  color: #fff;  
=======
  color: #fff;
>>>>>>> develop
}

.button_color_blue:hover {
  background-color: #2845DF;
<<<<<<< HEAD
}
=======
}

>>>>>>> develop
