.button.button_color_white {
  border: 1px solid #DEE2F2;
  background-color: #fff;
  color: #4A61DD;
  transition: background-color .5s ease;
}

.button_color_white:hover {
  background-color: #D8DEFF;
}