@import url('./__input/checkbox__input.css');
@import url('./__input/_color/checkbox__input_color_green.css');
@import url('./__input/_color/checkbox__input_color_orange.css');
@import url('./__input/_color/checkbox__input_color_purple.css');
@import url('./__span/checkbox__span.css');
@import url('./__span/_color/checkbox__span_color_green.css');
@import url('./__span/_color/checkbox__span_color_orange.css');
@import url('./__span/_color/checkbox__span_color_purple.css');
@import url('./__label/checkbox__label.css');

.checkbox {
  display: flex;
  max-width: 370px;
  width: 100%;
  padding-bottom: 35px;
}