@import "./__shift-top/button-blue__shift-top.css";

.button-blue {
  background: #4A61DD;
  border-radius: 6px;

  padding: 12px 24px;

  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  color: #FFFFFF;

  outline: none;
  border: none;

  position: relative;
  top: 0;
  transition: all .5s ease 0s;
}
.button-blue:hover {
  top: -3px;
  transition: all 0.3s ease 0.2s;
  box-shadow: 0 2px 0 0 #CDD5D4;
  background: #2845DF;
}

.button-blue:active {
  top: -1px;
  transition: all 0.1s ease 0s;
  box-shadow: 0 0 0 0 #CDD5D4;
}