.checkbox__input_color_purple:checked + .checkbox__span_color_purple {
  background-color:#8775D2;
  background-image: url('../../../../../images/vector.png');
  background-position: center;
  background-repeat: no-repeat;
} 