.checkbox__input-purple {
  display:none;
}
.checkbox__input-purple + .checkbox__label-purple span {
  display:inline-block;
  width:24px;
  height:24px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url("../../../../images/Ellipse_purple.png") left top no-repeat;
  cursor:pointer;
}
.checkbox__input-purple:checked + .checkbox__label-purple span {
  background:url("../../../../images/icon-dinner.png") left top no-repeat;
}