@import url(./__row-form/recipe-create__row-form.css);
@import url(./__label-checkbox/recipe-create__label-checkbox.css);
@import url(./__checkbox-container/recipe-create__checkbox-container.css);
@import url(./__form/recipe-create__form.css);
@import url(./__label/recipe-create__label.css);
@import url(./__input-container/recipe-create__input-container.css);
@import url(./__input/recipe-create__input.css);
@import url(./__error/recipe-create__error.css);
@import url(./__label-addphoto/recipe-create__label-addphoto.css);
@import url(./__row/recipe-create__row.css);
@import url(./__button-add/recipe-create__button-add.css);
@import url(./__time/recipe-create__time.css);
@import url(./__checkbox/recipe-create__checkbox.css);
@import url(./__button/recipe-create__button.css);

.recipe-create {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding-top: 44px;
}