.pagination__button {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
  border-style: none;
  color: #000;
  background-color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-right: 21px;
  transition: opacity .5s ease;
}

.pagination__button:last-child {
  margin-right: 0;
}

.pagination__button:hover {
  opacity: .7;
}
