.recipe-create__button-add {
  grid-column: 2 / 3;
  grid-row: 4;
  border: none;
  background-color: white;
  /* text-decoration: underline;  */
  margin-bottom: 15px;
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  justify-self: start;
}