.recipe-create__button-add {
  border: none;
  background-color: #FFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  justify-self: start;
  align-self: start;
  grid-area: button-addingredients;
  padding: 0;
  margin: 20px 0 30px;
  transition: opacity .5s ease;   
  background-image: linear-gradient(to right, black 75%, transparent 75%);
  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: 1px;
  transition: opacity .5s ease;
  outline: none;
}

.recipe-create__button-add:hover {
  opacity: .7;
}