.checkbox__input-green {
  display:none;
}
.checkbox__input-green + .checkbox__label-green span {
  display:inline-block;
  width:24px;
  height:24px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url("../../../../images/Ellipse_green.png") left top no-repeat;
  cursor:pointer;
}
.checkbox__input-green:checked + .checkbox__label-green span {
  background:url("../../../../images/icon-lunch.png") left top no-repeat;
}