.registration__input {
  height: 42px;
  background: #FFF;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0 7px;
  outline: none;
}

.registration__input:focus {
  border: 1px solid #4A61DD;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all .3s ease 0s;
}

.registration__input_error {
  border: 1px solid #FF0000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all .3s ease 0s;
}