@import url(./_color/button_color_blue.css);
@import url(./_color/button_color_grey.css);
@import url(./_color/button_color_white.css);
@import url(./_size/button_size_s.css);
@import url(./_size/button_size_l.css);
@import url(./_type/button_type_plus.css);
@import url(./_type/button_type_tick.css);
@import url(./_font/button_font.css);
@import url(./_location/button_location_center.css);

.button {
  border-radius: 6px;
  cursor: pointer;
  border-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}