.recipe-create__input {
  background: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 0 7px;
  outline: none;
  height: 42px;
}

.recipe-create__input:focus {
  border: 1px solid #4a61dd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.recipe-create__input_error {
  border: 1px solid #ff0000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.recipe-create__input[type="number"] {
  -moz-appearance: textfield;
}
.recipe-create__input[type="number"]:hover,
.recipe-create__input[type="number"]:focus {
  -moz-appearance: number-input;
}
