.checkbox__input-orange {
  display:none;
}
.checkbox__input-orange + .checkbox__label-orange span {
  display:inline-block;
  width:24px;
  height:24px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url("../../../../images/Ellipse_orange.png") left top no-repeat;
  cursor:pointer;
}
.checkbox__input-orange:checked + .checkbox__label-orange span {
  background:url("../../../../images/icon-breakfast.png") left top no-repeat;
}