@import "./__title/registration__title.css";
@import "./__form/registration__form.css";
@import "./__row-form/registration__row-form.css";
@import "./__input-container/registration__input-container.css";
@import "./__label/registration__label.css";
@import "./__input/registration__input.css";
@import "./__error/registration__error.css";
@import "./__button/registration__button.css";
@import "./__hint/registration__hint.css";
@import "./__hint-container/registration__hint-container.css";
@import "./__hint-password/registration__hint-password.css";
@import "./__form-button-container/registration__form-button-container.css";

.registration {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}