.recipe-create__tooltip .recipe-create__tooltiptext {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFF;
  color: #000;
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid rgba(98, 98, 98, 0.2);
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  min-height: 42px;
  transition: all 0.5s 0.5s;
  cursor: pointer;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
}

.recipe-create__tooltip:focus-within .recipe-create__tooltiptext {
  visibility: visible;
  opacity: 1;
}

.recipe-create__tooltiptext span:hover {
  background-color: #D8DEFF;
}
